/**
 * Text color 
 */
@brightest_text_color: #FFFFFF;
@bright_text_color: #F6F6F6;
@medium_text_color: #828282;
@dark_text_color: #000;
.text-tone(@tone) {
    @toneVar: '@{tone}_text_color';
    color: @@toneVar;
}

/**
 * Colors
 */
@default_color: #C6C6C6;
@primary_color: #FF9800;

@bg_color: #E8E8E8;
@bg_color_section: #F4F4F4;
@bg_color_medium: #DADADA;
@bg_color_darken: #CCC;

@border_color: #CCC;
@border_color_darken: #AAA;

@shadow_color: #DCDCDC; 

/**
 * Layout
 */
@container_max_width: 1280px;
@default_spacing: 1em;

@border_radius: 3px;