@import '~@angular/material/core/theming/all-theme';


// Include non-theme styles for core.
@include md-core();

// Define a theme.
$primary: md-palette($md-orange, 700, 500, 800);
$accent:  md-palette($md-blue, 500, 200, 800);
$warning: md-palette($md-deep-orange, A400, A200, A700);

$theme: md-light-theme($primary, $accent, $warning);

// Include all theme styles for the components.
@include angular-material-theme($theme);
