@import 'constants.less';

/** General layout */
html, body,prop-app {
	height: 100%;
}
body {
    margin: 0;
}
prop-app { /* Application root */
    display: flex;
    flex-direction: column;
    height: 100vh;
}
prop-header {
    z-index: 999;
}
.prop-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: @default_spacing;

    &,main {
        background-color: @bg_color;
    }

    main {
        flex: 1;
        display: flex;
    }
}
.content-scrollable {
    /* Use this class if container should display a scrollbar on overflow */
    overflow-y: auto; 
}

/** Logo vertical alignment **/
.brand-logo {
    margin: 10px 0 0 20px;
}

.prop-container { /* Wrap in a max 1280px wide */
    max-width: 1280px;
    margin: auto;
    flex: 1;
}
.prop-container-wide { /* Full width content */
    flex: 1;
    padding: 0 @default_spacing;
}
.ui-state-hover {
    cursor: pointer;
    background-color: #E0E0E0;
}

/**
 * Override Material Design form styles
 */
.prop-wrapper {
    input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid @primary_color;
        box-shadow: 0 1px 0 0 @primary_color;

        + label {
            color: @primary_color;
        }
    }
}

/**
 * Tiles 
 * @todo : move it in a component
 */
.prop-tile {

    @tile_padding: 10px;
    @header_vpadding: 15px;

    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: @border_radius;
    box-shadow: 1px 1px 5px 1px @shadow_color;

    .prop-tile__header {
        .text-tone('bright');
        background-color: @default_color;
        padding: @header_vpadding @tile_padding;
        text-align: center;
        font-weight: bold;
        position: relative;

        .btn {
            position: absolute;
            right: 5px;
            top: 0.4em;

            &.btn-small {
                top: 0.8em;
            }
        }
    }

    .prop-tile__content {
        flex: 1;
        padding: @tile_padding;
        background-color: white;
        overflow-y: auto;
    }
}

/**
 * UI classes
 */
.success {
    background-color: @success_color !important;
}

/**
 * Buttons
 */
.btn-small {
    .btn-size('small');
}

.prop-toolbar {
    background-color: @bg_inversed_color_lighten;
    ul {
        a {
            &:hover {
                background-color: @primary_color;
            }
        }
    }
}

/**
 * Datatables
 */
.prop-datatable {
    .ui-datatable-tablewrapper {
        table {
            border: 1px solid @border_color;
            thead {
                background-color: @bg_color_medium;
                th {
                    text-align: left;
                }
            }
            tbody {
                tr:hover {
                    cursor: pointer;
                    &:hover {
                        background-color: darken(@bg_color_bright, 5%) !important;
                    }
                }
                tr.ui-datatable-even {
                    background-color: @bg_color_bright;
                }
                tr.ui-datatable-odd {                    
                    background-color: darken(@bg_color_bright, 3%);
                }
            }
        }
    }
}

/**
 * Forms
 */
.prop-form {

    @input_padding: 5px;
    @input_height: 30px;

    fieldset {
        border-top: 1px solid @primary_color;
        border-right: none;
        border-bottom: none;
        border-left: none;

        legend {
            color: @primary_color;
            font-weight: bold;
            padding: 0 @default_spacing;
            margin-left: @default_spacing;
        }
    }

    .form-row {

        /** Submit button */
        button[type=submit] {
            float: right;
            margin-right: @default_spacing;
        }

        .control-wrapper {
            .control__label {
                color: @medium_text_color;
                font-size: 1em;
                text-align: right;
                height: @input_height;
                line-height: @input_height;
            }
            .control__input-wrapper {
                &>input, label.ui-dropdown-label {
                    margin: 0;
                    height: @input_height;
                    line-height: @input_height;
                    background-color: @bg_color_bright;
                    border-bottom: 1px solid @border_color;
                    border-radius: @border_radius;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    color: @primary_color;
                    padding: 0 @input_padding;
                    &:focus {
                        border-bottom: 1px solid @primary_color;
                        box-shadow: 0 1px 0 0 @primary_color;
                    }
                }
            }
            .control__error-msg {                
                height: @input_height;
                line-height: @input_height;
                color: @error_color;
                font-weight: bold;
                font-size: .8em;
                display: none;
            }
            
            /** 
             * PrimeNG form controls 
             */
            .control__input-wrapper {

                /** Dropdowns */
                .ui-dropdown {
                    display: inline-block;
                    position: relative;
                    width: auto;
                    zoom: 1;
                    cursor: pointer;
                    padding-right: 2em; // test removing it

                    &.ui-state-hover {
                        background-color: transparent;
                    }

                    input[type=text] {
                        display: none;
                    }

                    label.ui-dropdown-label {
                        cursor: pointer;
                        display: block;
                        border: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        font-weight: normal;
                        width: 100%;
                        float: left;
                        text-align: center;
                    }

                    .ui-dropdown-trigger {
                        border-right: 0;
                        border-top: 0;
                        border-bottom: 0;
                        cursor: pointer;
                        width: 28px;
                        height: 100%;
                        position: absolute;
                            right: 0;
                            top: 0;
                        padding: 4px 4px;
                        background-color: @bg_color_bright;
                    }

                    .ui-dropdown-panel {
                        position: absolute;
                        height: auto;
                        min-width: 100%;
                        background-color: @bg_color_bright;
                        .box-shadow();

                        .ui-dropdown-items-wrapper {
                            overflow-y: auto;
                        }

                        .ui-dropdown-items {
                            margin: 0;
                            padding: @input_padding;
                            .ui-dropdown-item {
                                color: @medium_text_color;
                                font-size: 0.8em;                                
                            }
                        }
                    }
                }
            }
        }
    }

    /**
     * Material Design forms
     */
    &.prop-form--md {

        h1, h2, h3 {
            margin: 0;
            text-align: center;
            color: @medium_text_color;
        }

        /** Dropdowns */
        ul.dropdown-content {
            li:not(.disabled) > span {
                color: @primary_color;
            }
        }
    }

    /**
     * Disabled forms
     */
    &.prop-form--disabled {
        .control-wrapper {
            padding: 10px;
            margin-bottom: 0;
            border-bottom: 1px solid @border_color_lighten;
            .control__label {
                font-size: 1em;
                padding: 0;
            }
            .control__value {
                color: @primary_color;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}