<div class="prop-dialog-wrapper">
    <h2 *ngIf="title" class="prop-dialog__title">
        {{ title }}    
    </h2>           
    <div class="prop-dialog__content">
        <ul *ngIf="isJsonApiError()">
            <li *ngFor="let error of content.errors">{{ error.status }} {{ error.title }} : {{ error.detail }}</li>
        </ul>
        <p *ngIf="!isJsonApiError()">
            {{ content }}
        </p>
    </div>       
    <div *ngIf="type === 'alert'" class="prop-dialog__footer" >
        <button md-raised-button color="accent" (click)="dialogRef.close('yes')">OK</button>
    </div>
    <div *ngIf="type === 'confirm'">
        <button type="button" (click)="dialogRef.close('yes')">ANNULER</button>
        <button type="button" (click)="dialogRef.close('no')">CONFIRMER</button>
    </div>
    <div *ngIf="type === 'modal'">
        <button type="button" (click)="dialogRef.close('yes')">BOUTON 1</button>
        <button type="button" (click)="dialogRef.close('no')">BOUTON 2</button>
    </div>
</div>