@import '../../../assets/css/constants.less';

:host {
    height: 100%;

    #mainWrapper {
        height: 100%;
        display: flex;
        padding-bottom: @default_spacing;

        .prop-tile-wrapper {
            display: flex;
            padding: 0 @default_spacing / 2;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }

            .prop-tile {
                .prop-tile__content {
                    overflow-x: hidden;
                }
            }
        }
    }
}

/** 
 * Tile component 
 */
.prop-tile {
}