<div id="mainWrapper" class="row">
    <div class="col s3">
        <div class="prop-tile">
            <div class="prop-tile__header">
                Customer
                <a class="btn btn-floating grey z-depth-0" [routerLink]="['../edit/customer']"><i class="material-icons">edit</i></a>
            </div>
            <div class="prop-tile__content">
                <form>
                    <label>Customer Name</label>
                    <span>{{ claimFile?.customerInformation?.customerName }}</span>
                </form>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="prop-tile">
            <div class="prop-tile__header">
                Contract
                <a class="btn btn-floating grey z-depth-0"><i class="material-icons">edit</i></a>
            </div>
            <div class="prop-tile__content"></div>
        </div>
    </div>
    <div class="col s3">
        <div class="prop-tile">
            <div class="prop-tile__header">
                Claim File
                <a class="btn btn-floating grey z-depth-0"><i class="material-icons">edit</i></a>
            </div>
            <div class="prop-tile__content"></div>
        </div>
    </div>
    <div class="col s3">
        <div class="prop-tile">
            <div class="prop-tile__header">
                Task
                <a class="btn btn-floating grey z-depth-0"><i class="material-icons">edit</i></a>
            </div>
            <div class="prop-tile__content"></div>
        </div>
    </div>
</div>