<main>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#main" class="active">Main</a></li>
            <li class="tab col s3"><a href="#parties">Parties Involved</a></li>
            <li class="tab col s3"><a href="#direction">Claim Direction</a></li>
            <li class="tab col s3"><a href="#damage">Damage Description</a></li>
            <li class="tab col s3"><a href="#doc">Supporting Doc</a></li>
        </ul>
    </div>
    <div id="main" class="col s12">
        <div class="col s3">
            <div class="tile">
                <div class="tile__header">
                    Customer
                </div>
                <div class="tile__content"></div>
            </div>
        </div>
        <div class="col s3">
            <div class="tile">
                <div class="tile__header">
                    Contract
                </div>
                <div class="tile__content"></div>
            </div>
        </div>
        <div class="col s3">
            <div class="tile">
                <div class="tile__header">
                    Claim File
                </div>
                <div class="tile__content"></div>
            </div>
        </div>
        <div class="col s3">
            <div class="tile">
                <div class="tile__header">
                    Task
                </div>
                <div class="tile__content"></div>
            </div>
        </div>
    </div>
    <div id="parties">Parties involved</div>
    <div id="direction">Claim direction</div>
    <div id="damage">Damage description</div>
    <div id="doc">Supporting doc</div>
</div>
</main>
<footer class="page-footer grey darken-3">
    <div class="row center">
        <span class="grey-text">Stepline</span>
    </div>
</footer>
    