<main>
	<div class="prop-container-wide">
		<div class="claimfiles-wrapper row">
			<div class="collection-wrapper col s10">
				<nav class="prop-toolbar">
					<div class="nav-wrapper">
						<ul class="hide-on-med-and-down left">
							<li>				
								<a [routerLink]="['/claimfile/create']">
									<i class="material-icons left">create_new_folder</i>Open claimfile
								</a>
							</li>
							<li>
								<a href="#">
									<i class="material-icons left">filter_list</i>Filter claims
								</a>
							</li>
						</ul>
						<form class="right">
							<div class="input-field">
							<input id="search" type="search" placeholder="Search ..." required>
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
							</div>
						</form>
					</div>
				</nav>
				<div class="collection-table-wrapper">
					<p-dataTable [value]="claimFiles" class="prop-datatable">
						<p-column header="ID du dossier">							
							<template let-claimfile="rowData.attributes" pTemplate type="body">
								{{ claimfile.wan | stringAerator }}
							</template>
						</p-column>
						<p-column field="attributes.customerInformation.customerName" header="Customer Name"></p-column>
						<p-column field="attributes.customerInformation.customerNumber" header="Customer Number"></p-column>
						<p-column field="attributes.contract.contractNumber" header="Contract Number"></p-column>
						<p-column header="Date of Event">
							<template let-claimfile="rowData.attributes" pTemplate type="body">
								{{ claimfile.claimInformation.dateOfLoss | date:"dd/MM/y"}}
							</template>
						</p-column>
						<p-column header="Damage Cause">
							<template let-claimfile="rowData.attributes" pTemplate type="body">
								{{ claimfile.coverage?.label | naLabel:"-" }}
							</template>
						</p-column>
						<p-column field="attributes.status.label" header="Status"></p-column>
						<p-column styleClass="col-button">
							<template pTemplate type="header"></template>
							<template let-claimfile="rowData.attributes" pTemplate type="body">
			    				<a class="btn btn-floating grey btn-small" 
									[routerLink]="['/claimfile', claimfile.wan]"><i class="material-icons">arrow_forward</i></a>
							</template>
						</p-column>
					</p-dataTable>
				</div>
			</div>
			<div class="filter-wrapper col s2">				
				<div class="prop-tile">
					<div class="prop-tile__header">
						Filters
					</div>
					<div class="prop-tile__content">
						<div class="filter">
							<h4>DAMAGE CAUSES</h4>
							<div class="filter-kpi">
								<div class="filter-figure">
									<i class="material-icons">build</i>
									<span class="filter-title">WATER</span>
								</div>
								<div class="filter-kpi">5</div>
							</div>
						</div>
						<div class="filter">
							<h4>DATES</h4>
							<div class="filter-kpi">
								<div class="filter-figure">
									<i class="material-icons">date_range</i>
									<span class="filter-title">-5 JOURS</span>
								</div>
								<div class="filter-kpi">4</div>
							</div>
						</div>
						<div class="filter">
							<h4>STATUS</h4>
							<div class="filter-kpi">
								<div class="filter-figure">
									<i class="material-icons">hourglass_empty</i>
									<span class="filter-title">PENDING</span>
								</div>
								<div class="filter-kpi">11</div>
							</div>
						</div>
						<div>
							<button class="btn btn-floating grey"><i class="material-icons">add</i></button>	
						</div>			
					</div>
				</div>
			</div>			
		</div>
	</div>
</main>
<prop-kpi-container [kpis]="kpis"></prop-kpi-container>