@import '../../assets/css/constants.less';

.toolbar-wrapper {
    margin-bottom: 1em;
}

.filters-wrapper > .card {
    margin-top: 0;
    height: 600px;
}
/** Datatable styles @todo : move it to proper component */
.ui-state-hover {
    cursor: pointer;
    background-color: #CCC;
}