<section id="editorWrapper">
    <nav class="prop-toolbar"><!-- @todo : move to a component -->
        <div class="nav-wrapper">
            <ul class="left">
                <li>
                    <a href="#"><i class="material-icons">arrow_back</i></a>
                </li>
            </ul>
        </div>    
    </nav>
    <div id="editorContent">        
        <router-outlet></router-outlet>
    </div>
</section>
<div id="formSwitcher"><!-- @todo : move to a component -->
    <a class="switcher prop-tile" href="#" [routerLink]="['customer']">Customer</a>
    <a class="switcher prop-tile switcher-active" href="#" [routerLink]="['contract']">Contract</a>
    <a class="switcher prop-tile" href="#" [routerLink]="['claimfile']">Claim File</a>
    <a class="switcher prop-tile" href="#" [routerLink]="['damage']">Damage Risk</a>
    <a class="switcher prop-tile" href="#" [routerLink]="['damage']">Mission</a>
    <div class="switcher">
        <button class="btn btn-large waves-effect waves-light success">
            <i class="material-icons left">done_all</i>Save all
        </button>
    </div>    
</div>