<section id="editorWrapper">
    <nav class="prop-toolbar"><!-- @todo : move to a component -->
        <div class="nav-wrapper">
            <ul class="left">
                <li>
                    <a href="#" [routerLink]="['../../overview']"><i class="material-icons">arrow_back</i></a>
                </li>
            </ul>
            <h1 id="formTitle" class="brand-logo center">{{ this.currentForm.getTitle() }}</h1>
        </div>    
    </nav>
    <div id="editorContent">
        <prop-customer-form [hidden]="form !== 'customer'" [claimFileId]="claimFileId$ | async"></prop-customer-form>
        <prop-contract-form [hidden]="form !== 'contract'" [claimFileId]="claimFileId$ | async"></prop-contract-form>
        <prop-claimfile-form [hidden]="form !== 'claimfile'" [claimFileId]="claimFileId$ | async"></prop-claimfile-form>
        <prop-damagerisk-form [hidden]="form !== 'damage'" [claimFileId]="claimFileId$ | async"></prop-damagerisk-form>
    </div>
</section>
<div id="formSwitcher"><!-- @todo : move to a component -->
    <a [routerLink]="['../customer']" 
        class="switcher prop-tile" [class.switcher-active]="form === 'customer'">
        Information Client
    </a>
    <a [routerLink]="['../contract']" 
        class="switcher prop-tile" [class.switcher-active]="form === 'contract'">
        Contrat
    </a>
    <a [routerLink]="['../claimfile']" 
        class="switcher prop-tile" [class.switcher-active]="form === 'claimfile'">
        Contexte
    </a>
    <a [routerLink]="['../damage']" 
        class="switcher prop-tile" [class.switcher-active]="form === 'damage'">
        Risque endommagé
    </a>
    <div class="switcher">
        <!--<button class="btn btn-large waves-effect waves-light success" (click)="submitAll()">
            <i class="material-icons left">done_all</i>Save all
        </button>-->
        <button md-fab color="primary" [disabled]="!globalDirty">
            <md-icon>done_all</md-icon>    
        </button>
    </div>    
</div>