<div class="row">
    <div id="main" class="col s12">
        <div class="col s3">
            <div class="tile">
                <div class="tile__header">
                    Customer
                    <a class="btn btn-floating blue"><i class="material-icons">edit</i></a>
                </div>
                <div class="tile__content"></div>
            </div>
        </div>
        <div class="col s3">
            <div class="tile">
                <div class="tile__header">
                    Contract
                    <a class="btn btn-floating blue"><i class="material-icons">edit</i></a>
                </div>
                <div class="tile__content"></div>
            </div>
        </div>
        <div class="col s3">
            <div class="tile">
                <div class="tile__header">
                    Claim File
                </div>
                <div class="tile__content"></div>
            </div>
        </div>
        <div class="col s3">
            <div class="tile">
                <div class="tile__header">
                    Task
                </div>
                <div class="tile__content"></div>
            </div>
        </div>
    </div>
</div>