@import '../../../assets/css/constants.less';

:host {
    height: 100%;
}

/** 
 * Tile component 
 */
.prop-tile {

    @tile_padding: 10px;
    @header_vpadding: 15px;

    .prop-tile__header {
        .text-tone('bright');
        background-color: @default_color;
        padding: @header_vpadding @tile_padding;
        text-align: center;
        font-weight: bold;
        position: relative;

        .btn {
            position: absolute;
            right: 5px;
            top: 0.4em;
        }
    }
    .prop-tile__content {
        padding: @tile_padding;
        background-color: white;
        min-height: 500px;
    }
}