<div [formGroup]="form" class="control-wrapper control-wrapper--{{ control.controlType }}">
    <label [attr.for]="control.key" class="control__label col s4">{{control.label}}</label>
    <div [ngSwitch]="control.controlType" class="control__input-wrapper col s4">

        <input *ngSwitchCase="'textbox'" [formControlName]="control.key"
                [id]="control.key" [type]="control.type" />

        <!-- Overlay datepicker (like Pickadate) 
        <input *ngSwitchCase="'datepicker'" [formControlName]="control.key"
                [id]="control.key" type="date" class="datepicker" />
        -->

        <!--div *ngSwitchCase="'dropdown'">
            {{ control.choices | keys | json }}
            <div *ngFor="let opt of control.choices | keys">{{opt.key}} : {{ opt.value }}</div>
        </div-->
        <!--select *ngSwitchCase="'dropdown'" [formControlName]="control.key" [id]="control.key">
            <option *ngFor="let opt of control.choices | keys" [value]="opt.key">{{opt.value}}</option>
        </select-->

        <p-dropdown *ngSwitchCase="'dropdown'" [formControlName]="control.key" [options]="control.choices | keys"
            [autoWidth]="false" [style]="{'width':'100%'}">
            <template let-choice>
                {{ choice.label }}
            </template>
        </p-dropdown>

        <textarea *ngSwitchCase="'textarea'" [formControlName]="control.key" [id]="control.key"></textarea>

    </div> 
    <div class="control__error-msg col s4" *ngIf="!isValid">{{control.label}} is required</div>
</div>