<div class="databanner-wrapper">
    <div class="databanner__item"><span class="databanner__label">CLAIM :</span></div>
    <div class="databanner__item"><span class="databanner__label">Insurance company :</span></div>
    <div class="databanner__item"><span class="databanner__label">Insured :</span></div>
    <div class="databanner__item"><span class="databanner__label">Evt :</span></div>
    <div class="databanner__item"><span class="databanner__label">Product :</span></div>
    <div class="databanner__item"><span class="databanner__label">Damage :</span></div>
</div>